* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto" , Arial,  sans-serif;
    background-color: #F9F9F9;
}
.header{
    background-color: white;
    padding: 0 16px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 0, 40);
}
.header-left , .header-center , .header-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header-center{
    flex: 1;
    max-width: 600px;
    margin: 0 40px;
}
.search-input{
    flex: 1;
}
button {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: background-color 0.2s;

}
button:hover{
    background-color: #F9F9F9;
}
.logo{
    display: flex;
    align-items: center;
    gap:4px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
.logo-icon{
    color :rgb(238, 0, 40);
    font-size: 24px;
}
.logo-text {
    font-size: 18px;
}
.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
}